@inject IJSRuntime JSRuntime 

<div id="buyerElementContainer" style="position:relative">
    <EditForm @ref="BuyerForm" EditContext="EditContext" OnValidSubmit="(()=>ValidateForm(true))" OnInvalidSubmit="(()=>ValidateForm(false))" @onfocusout="SubmitForm">
        <DataAnnotationsValidator />
        <!--#region Seller Name-->
        <!--The Central Div Containing an object group for an item: Label, InputText, ValidationMessage-->
        <div class="form-group row mb-1">
            <!--The Label for the Object-->
            <label class="col-sm-3 col-form-label">Cumparator</label>
            <!--The div containing the inputText and the Validation Message-->
            <div class="col-sm-9">
                <!--The Input Controller-->
                <InputText class="form-control" placeholder="Denumire Cumparator" @bind-Value="@PageController.Name" disabled="@PageController.DisableController" />
                <!--The Validation Message-->
                <ValidationMessage For="@(()=>PageController.Name)" />
            </div>
        </div>
        <!--#endregion Seller Name-->
        <!--#region Commercial Registry Number-->
        <!--The Central Div Containing an object group for an item: Labelm InputText, ValidationMessage-->
        <div class="form-group row mb-1">
            <!-- The label for the Object -->
            <label class="col-sm-3 col-form-label">Nr.ord.Reg.Com/an:</label>
            <!--The div containing an the inputText and the ValidationMessage-->
            <div class="col-sm-9">
                <!--The Input Text Controller-->
                <InputText class="form-control" placeholder="Numar Ordine Registru Comert" @bind-Value="@PageController.CommercialRegistryNumber" disabled="@PageController.DisableController" />
            </div>
        </div>
        <!--#endregion Commertcial Registry Number-->
        <!--#region Fiscal Code-->
        <!--The Central Div Containing an object group for an item: Labelm InputText, ValidationMessage-->
        <div class="form-group row mb-1">
            <!-- The label for the Object -->
            <label class="col-sm-3 col-form-label">Cod fiscal:</label>
            <!--The div containing an the inputText and the ValidationMessage-->
            <div class="col-sm-9" style="z-index : 1">
                <!--The Input Text Controller-->
                <InputText class="form-control" placeholder="Cod de identificare fiscala" @bind-Value="@PageController.FiscalCode" disabled="@PageController.DisableController" @onfocusout="CheckCompanyInactivity" />
                <ValidationMessage For="@(()=>PageController.IsFiscalCodeValid)" />
            </div>
        </div>
        <!--#endregion Fiscal Code-->
        <!--#region Headquarters Address-->
        <!--The Central Div Containing an object group for an item: Label, InputText, ValidationMessage-->
        <div class="form-group row mb-1">
            <!-- The label for the Object -->
            <label class="col-sm-3 col-form-label">Sediul:</label>
            <!--The div containing an the inputText and the ValidationMessage-->
            <div class="col-sm-9">
                <!--The Input Text Controller-->
                <InputText class="form-control" placeholder="Adresa sediu" @bind-Value="@PageController.Headquarters" disabled="@PageController.DisableController" />
            </div>
        </div>
        <!--#endregion Headquarters Address-->
        <!--#region Email-->
        <!--The Central Div Containing an object group for an item: Label, InputText, ValidationMessage-->
        <div class="form-group row mb-1">
            <!-- The label for the Object -->
            <label class="col-sm-3 col-form-label">Email:</label>
            <!--The div containing an the inputText and the ValidationMessage-->
            <div class="col-sm-9">
                <!--The Input Text Controller-->
                <InputText class="form-control" placeholder="Adresa de mail" @bind-Value="@PageController.DeliveryAddress" disabled="@PageController.DisableController" />
            </div>
        </div>
        <!--#endregion Email-->
        <!--#region Country-->
        <!--The Central Div Containing an object group for an item: Label, InputText, ValidationMessage-->
        <div>
            <!--The Country Picker for the element-->
            <MentorBilling.AuxilliaryComponents.Pages.CountriesPicker PageController="@(PageController.CountriesController)"
                                                                      InstanceController="@(InstanceController)"
                                                                      DisplayController="(PageController.CountryCountyDisplayController)" />
            <ValidationMessage For="@(()=>PageController.IsCountryNeeded)" />
        </div>
        <!--#endregion Country-->
        <!--#region County-->
        <!--The Central Div Containing an object group for an item: Label, InputText, ValidationMessage-->
        <div>
            <!--The County Picker for the element-->
            <MentorBilling.AuxilliaryComponents.Pages.CountiesPicker PageController="@(PageController.CountiesController)"
                                                                     InstanceController="@(InstanceController)"
                                                                     DisplayController="@(PageController.CountryCountyDisplayController)" />
            <ValidationMessage For="@(()=>PageController.IsCountyNeeded)" />
        </div>
        <!--#endregion County-->
        <!--#region BankAccount-->
        <div>
            <MentorBilling.AuxilliaryComponents.Pages.BankAccount PageController="@(PageController.BankAccountController)" />
        </div>
        <!--#endregion BankAccount-->
        <!--#region Delivery Address-->
        <!--The Central Div Containing an object group for an item: Label, InputText, ValidationMessage-->
        <div class="form-group row mb-1">
            <!-- The label for the Object -->
            <label class="col-sm-3 col-form-label">Punct Lucru:</label>
            <!--The div containing an the inputText and the ValidationMessage-->
            <div class="col-sm-9">
                <!--The Input Text Controller-->
                <InputText class="form-control" placeholder="Adresa punctului de lucru\livrare" @bind-Value="@PageController.DeliveryAddress" disabled="@PageController.DisableController" />
            </div>
        </div>
        <!--#endregion Delivery Address-->
    </EditForm>
</div>