@inject IJSRuntime JSRuntime 

<div>
    <EditForm @ref="SellerForm" EditContext="EditContext" OnValidSubmit="@(()=>ValidateLogin(true))" OnInvalidSubmit="(()=>ValidateLogin(false))" @onfocusout="SubmitForm">
        <DataAnnotationsValidator />
        <!--#region Logo Controller-->
        <div style="display:flex; align-content:center; align-items:center; text-align:center;">
            <Logo PageController="PageController.LogoController" />
        </div>
        <!--#endregion Logo-->
        <!--#region Seller Name-->
        <!--The central div containing an object group for an item: Label, InputText, ValidationMessage-->
        <div class="form-group row mb-1">
            <!--The Label for the Object-->
            <label class="col-sm-3 col-form-label">Furnizor:</label>
            <!--The div containing the inputText and the Validation Message-->
            <div class="col-sm-9">
                <!--The Input Controller-->
                <InputText class="form-control" placeholder="Denumire Furnizor" @bind-Value="@PageController.Name" disabled="@PageController.DisableController" />
                <!--The Validation Message-->
                <ValidationMessage For="@(()=>PageController.Name)" />
            </div>
        </div>
        <!--#endregion Seller Name-->
        <!--#region Registry Number-->
        <!--The central div containing an object group for an item: Label, InputText, ValidationMessage-->
        <div class="form-group row mb-1">
            <!--The Label for the Object-->
            <label class="col-sm-3 col-form-label">Nr.ord.Reg.Com/an:</label>
            <!--The div containing the inputText and the Validation Message-->
            <div class="col-sm-9">
                <!--The Input Controller-->
                <InputText class="form-control" placeholder="Numar Ordine Registru Comert" @bind-Value="@PageController.CommercialRegistryNumber" disabled="@PageController.DisableController" />
                <!--The Validation Message-->
                <ValidationMessage For="@(()=>PageController.CommercialRegistryNumber)" />
            </div>
        </div>
        <!--#endregion Registry Number-->
        <!--#region Fiscal Code-->
        <!--The central div containing an object group for an item: Label, InputText, ValidationMessage-->
        <div class="form-group row mb-1">
            <!--The Label for the Object-->
            <label class="col-sm-3 col-form-label">Cod fiscal:</label>
            <!--The div containin the inputText and the Validation Message-->
            <div class="col-sm-9">
                <!--The Input Controller-->
                <InputText class="form-control" placeholder="Cod de identificare fiscala" @bind-Value="@PageController.FiscalCode" disabled="@PageController.DisableController" />
                <!--The Validation Message-->
                <ValidationMessage For="@(()=>PageController.FiscalCode)" />
            </div>
        </div>
        <!--#endregion Fiscal Code-->
        <!--#region Joint Stock-->
        <!--The central div containing an object group for an item: Label, InputText, ValidationMessage-->
        <div class="form-group row mb-1">
            <!--The Label for the Object-->
            <label class="col-sm-3 col-form-label">Capital Social:</label>
            <!--The div containin the inputText and the Validation Message-->
            <div class="col-sm-9">
                <!--The Input Controller-->
                <InputNumber class="form-control" placeholder="Capital Social" @bind-Value="@PageController.JointStock" disabled="@PageController.DisableController" />
                <!--The Validation Message-->
                <ValidationMessage For="@(()=>PageController.JointStock)" />
            </div>
        </div>
        <!--#endregion Joint Stock-->
        <!--#region Headquarters Adress-->
        <!--The central div containing an object group for an item: Label, InputText, ValidationMessage-->
        <div class="form-group row mb-1">
            <!--The Label for the Object-->
            <label class="col-sm-3 col-form-label">Sediul:</label>
            <!--The div containin the inputText and the Validation Message-->
            <div class="col-sm-9">
                <!--The Input Controller-->
                <InputText class="form-control" placeholder="Adresa sediu" @bind-Value="@PageController.Headquarters" disabled="@PageController.DisableController" />
                <!--The Validation Message-->
                <ValidationMessage For="@(()=>PageController.Headquarters)" />
            </div>
        </div>
        <!--#endregion Headquarters Adress-->
        <!--#region Bank Accounts-->
        <div>
            @foreach (var element in PageController.BankAccountControllers)
            {
                <!--the BankAccount with the needed parameters-->
                <MentorBilling.AuxilliaryComponents.Pages.BankAccount PageController="@(element)"
                                                                      BankAccountDisplayController="@BankAccountDisplayController"
                                                                      SellerDisplayController="@SellerDisplayController"
                                                                      LastItem="@(element==PageController.BankAccountControllers.Last())" />
            }
        </div>
        <!--#endregion Bank Accounts-->
        <!--#region Secondary Elements-->
        <!--#region Website + Phone Number-->
        <!--The central div containing an object group for an item: Label, InputText, ValidationMessage-->
        <div class="form-group row mb-1">
            <!--The Label for the Object-->
            <label class="col-sm-3 col-form-label">Website:</label>
            <!--The div containin the inputText and the Validation Message-->
            <div class="col-sm-4">
                <!--The Input Controller-->
                <InputText class="form-control" placeholder="Website" @bind-Value="@PageController.Website" disabled="@PageController.DisableController" />
            </div>
            <!--The Label for the Object-->
            <label class="col-sm-1 col-form-label">Telefon:</label>
            <!--The div containin the inputText and the Validation Message-->
            <div class="col-sm-4">
                <!--The Input Controller-->
                <InputText class="form-control" placeholder="Telefon" @bind-Value="@PageController.Phone" disabled="@PageController.DisableController" />
            </div>
        </div>
        <!--#endregion-->
        <!--#region Email-->
        <div class="form-group row mb-1">
            <!--The Label for the Object-->
            <label class="col-sm-3 col-form-label">Mail:</label>
            <!--The div containin the inputText and the Validation Message-->
            <div class="col-sm-9">
                <!--The Input Controller-->
                <InputText class="form-control" placeholder="Mail" @bind-Value="@PageController.Email" disabled="@PageController.DisableController" />
            </div>
        </div>
        <!--#endregion Email-->
        <!--#region Work Point-->
        <div class="form-group row mb-1">
            <!--The Label for the Object-->
            <label class="col-sm-3 col-form-label">Punct Lucru:</label>
            <!--The div containin the inputText and the Validation Message-->
            <div class="col-sm-9">
                <!--The Input Controller-->
                <InputText class="form-control" placeholder="Punct de lucru" @bind-Value="@PageController.WorkPoint" disabled="@PageController.DisableController" />
            </div>
        </div>
        <!--#endregion Work Point-->
        <!--#endregion-->
    </EditForm>
</div>