<div>
    <EditForm Model="@PageController">
        <DataAnnotationsValidator/>
        <div class="form-group row mb-1">
            <label class="col-sm-3 col-form-label">Nume Utilizator sau Email</label>
            <div class="col-sm-9">
                <InputText class="form-control" bind-value="@PageController.Username"/>
                <ValidationMessage For="@(()=>PageController.Username)"/>
            </div>
        </div>
        <div class="form-group row mb-1">
            <label class="col-sm-3 col-form-label">Parola</label>
            <div class="col-sm-9">
                <InputText class="form-control" bind-value="@PageController.Password" />
                <ValidationMessage For="@(()=>PageController.Password)" />
            </div>
        </div>
        <ValidationMessage For="@(()=>PageController.IsPasswordValid)" />
        <div class="form-group text-center mb-0">
            <button type="submit" class="btn btn-primary" id="BtnLogin">Login</button>
        </div>
    </EditForm>
</div>