@inject IJSRuntime JSRuntime

<h1>Login</h1>
<div>
    <!--The Main EditForm for the Login-->
    <EditForm Model="@PageController" OnValidSubmit="@(e => ValidateLogin(true))" OnInvalidSubmit="@(e => ValidateLogin(false))">
        <!--The DataAnnotationsValidator binds the page to the object errors-->
        <DataAnnotationsValidator />
        <!--Then we add the elements-->
        <!--The Div containing the Label, InputText and ValidationMessage for the Username-->
        <div class="form-group">
            <!--The Label Display for the UserName-->
            <label class="col-form-label">Nume Utilizator sau Email</label>
            <!--The Main Input Box for the UserName and the specific Validation Error-->
            <div>
                <InputText id="tbUsername" class="form-control" placeholder="Nume Utilizator sau Email" @bind-Value="PageController.Username" />
                <!--The Validation Message bound to the specific error-->
                <ValidationMessage For="@(()=>PageController.Username)" />
            </div>
        </div>
        <!--The Div containing the Label, InputText and ValidationMessage for the Password-->
        <div class="form-group">
            <!--The Label for the Password-->
            <label class="col-form-label">Parola</label>
            <!--The Main Input Box for the Password and the specific Validation Error-->
            <div>
                <InputText class="form-control" type="password" placeholder="Parola" @bind-Value="PageController.Password" />
                <!--The Validation Message bound to the specific error-->
                <ValidationMessage For="@(()=>PageController.Password)" />
            </div>
        </div>
        <!--Other non-specific errors for the page-->
        <ValidationMessage For="@(()=>PageController.IsPasswordValid)" />
        <ValidationMessage For="@(()=>PageController.DoesUsernameExist)" />
        <!--The main validation button-->
        <div class="form-group text-center mb-0">
            <button type="submit" class="btn btn-primary-validate" id="BtnLogin">Login</button>
        </div>
    </EditForm>
</div>