@inject IJSRuntime JSRuntime
@inject MentorBilling.Messages.MessageDisplaySettings MessageDisplaySettings

<h1>Inregistrare</h1>
<div>
    <!--The Main EditForm for the Login-->
    <EditForm Model="@RegisterController" OnValidSubmit="@(e => FormValidate(true))" OnInvalidSubmit="@(e=>FormValidate(false))">
        <!--The DataAnnotationsValidator binds the page to the object errors-->
        <DataAnnotationsValidator />
        <!--Then we add the elements-->
        <!--The Div containing the Label, InputText for the Surname-->
        <div class="form-group">
            <!--The Label Dsiplay for the Surname-->
            <label class="col-form-label">Nume</label>
            <!--The Main Input Box for the Surname-->
            <div>
                <InputText class="form-control" id="tbSurname" placeholder="Nume" @bind-Value="RegisterController.Surname" />
            </div>
        </div>
        <!--The Div containing the Label, InputText for the Name-->
        <div class="form-group">
            <!--The Label Dsiplay for the Name-->
            <label class="col-form-label">Prenume</label>
            <!--The Main Input Box for the Name-->
            <div>
                <InputText class="form-control" placeholder="Prenume" @bind-Value="RegisterController.Name" />
            </div>
        </div>
        <!--The Div containing the Label, InputText and ValidationMessage for the Email-->
        <div class="form-group">
            <!--The Label Dsiplay for the Email-->
            <label class="col-form-label">Email</label>
            <!--The Main Input Box for the Email and the specific Validation Error-->
            <div>
                <InputText class="form-control" placeholder="Email" @bind-Value="RegisterController.Email" />
                <!--The Validation Message bound to the specific error-->
                <ValidationMessage For="@(()=>RegisterController.Email)" />
                <ValidationMessage For="@(()=>RegisterController.EmailAlreadyExists)" />
                <ValidationMessage For="@(()=>RegisterController.IsEmailValid)"/>
            </div>
        </div>
        <!--The Div containing the Label, InputText and ValidationMessage for the Username-->
        <div class="form-group">
            <!--The Label Dsiplay for the UserName-->
            <label class="col-form-label">Nume Utilizator</label>
            <!--The Main Input Box for the UserName and the specific Validation Error-->
            <div>
                <InputText class="form-control" placeholder="Nume Utilizator" @bind-Value="RegisterController.Username" />
                <!--The Validation Message bound to the specific error-->
                <ValidationMessage For="@(()=>RegisterController.Username)" />
                <ValidationMessage For="@(()=>RegisterController.UsernameAlreadyExists)" />
            </div>
        </div>
        <!--The Div containing the Label, InputText and ValidationMessage for the Password-->
        <div class="form-group">
            <!--The Label for the Password-->
            <label class="col-form-label">Parola</label>
            <!--The Main Input Box for the Password and the specific Validation Error-->
            <div>
                <InputText class="form-control" type="password" placeholder="Parola" @bind-Value="RegisterController.Password" />
                <!--The Validation Message bound to the specific error-->
                <ValidationMessage For="@(()=>RegisterController.Password)" />
            </div>
        </div>
        <!--The Div containing the Label, InputText and ValidationMessage for the Password Match-->
        <div class="form-group">
            <!--The Label for the Password Match-->
            <label class="col-form-label">Reintroduceti Parola</label>
            <!--The Main Input Box for the Password Match and the specific Validation Error-->
            <div>
                <InputText class="form-control" type="password" placeholder="Reintroduceti Parola" @bind-Value="RegisterController.PasswordMatch" />
                <!--The Validation Message bound to the specific error-->
                <ValidationMessage For="@(()=>RegisterController.DoPasswordsMatch)" />
            </div>
        </div>
        <!--The main validation button-->
        <div class="form-group text-center mb-0">
            <button type="submit" class="btn btn-primary-validate" id="BtnLogin">Inregistrare</button>
        </div>
    </EditForm>
</div>
