@inject IJSRuntime JSRuntime
<!--The Edit Form bound to the page context-->
<!--@onfocusout="EvaluateCountryPicker" @onfocusin="ResetPicker"-->
<EditForm @ref="MyForm" EditContext="@EditContext">
    <!--The Data Annotations Validator used to call the validation-->
    <DataAnnotationsValidator />
    <!--The Div Containing the label and the input select-->
    <div class="form-group row mb-1">
        <!--The label display-->
        <label class="col-sm-3 col-form-label">Tara:</label>
        <div class="col-sm-9" style="height:inherit; text-align:center; display:flex;">
            <!--The Input select directly bound to the page controller-->

            <InputSelect ValueExpression="@(()=>PageController.SelectedCountry.DefaultCode)"
                         Value="@(PageController.SelectedCountry.DefaultCode)"
                         ValueChanged="@((String value) => SelectElement(value))"
                         style="height:inherit; width:inherit; margin-bottom:5px; text-align:center;">
                <!--the iteration of the countries list-->
                @foreach (var country in PageController.countries)
                {
                    <option value="@(country.DefaultCode)" @onclick="@(()=>SelectElement(country))">@country.GetDisplayNameForSettings(InstanceController.InstanceSettings)</option>
                }
            </InputSelect>

        </div>
    </div>
</EditForm> 